<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Shop header</title>
        <title lang="de-DE">Shop-Kopfzeile</title>
        <input-field type="bool">
            <name>alertShopHeaderActive</name>
            <label>Enable alert</label>
            <label lang="de-DE">Hinweis anzeigen</label>
        </input-field>
        <input-field type="bool">
            <name>alertShopHeaderSticky</name>
            <label>Alert fixed above</label>
            <label lang="de-DE">Hinweis fixieren</label>
        </input-field>
        <input-field type="text">
            <name>alertShopHeaderText</name>
            <label>Alert text</label>
            <label lang="de-DE">Hinweistext</label>
        </input-field>
        <input-field type="bool">
            <name>alertShopHeaderTextBold</name>
            <label>Text bold</label>
            <label lang="de-DE">Text fett</label>
        </input-field>
        <input-field type="bool">
            <name>alertShopHeaderTextCentered</name>
            <label>Text centered</label>
            <label lang="de-DE">Text zentriert</label>
        </input-field>
        <input-field type="colorpicker">
            <name>alertShopHeaderBackgroundColor</name>
            <label>Background color</label>
            <label lang="de-DE">Hintergrundfarbe</label>
        </input-field>
        <input-field type="colorpicker">
            <name>alertShopHeaderTextColor</name>
            <label>Text color</label>
            <label lang="de-DE">Textfarbe</label>
        </input-field>
    </card>
    <card>
        <title>Product detail page</title>
        <title lang="de-DE">Produktdetailseite</title>
        <input-field type="bool">
            <name>alertProductDetail1Active</name>
            <label>Enable alert 1</label>
            <label lang="de-DE">Hinweis 1 anzeigen</label>
        </input-field>
        <input-field type="single-select">
            <name>alertProductDetail1DisplayMode</name>
            <label>Display mode for alert 1</label>
            <label lang="de-DE">Anzeige-Modus für Hinweis 1</label>
            <helpText>It can be set whether the hint is displayed for all products or whether this must be activated
                individually in the custom field in the product.
            </helpText>
            <helpText lang="de-DE">Es kann eingestellt werden, ob der Hinweis für alle Produkte angezeigt wird oder ob
                dies in dem Custom-Field im Produkt einzeln aktiviert werden muss.
            </helpText>
            <defaultValue>global</defaultValue>
            <options>
                <option>
                    <id>global</id>
                    <name>Global for all products</name>
                    <name lang="de-DE">Global für alle Produkte</name>
                </option>
                <option>
                    <id>product</id>
                    <name>Settable per product</name>
                    <name lang="de-DE">Einstellbar pro Artikel</name>
                </option>
            </options>
        </input-field>
        <input-field>
            <name>alertProductDetail1Message</name>
            <label>Alert text (Alert 1)</label>
            <label lang="de-DE">Hinweistext (Hinweis 1)</label>
        </input-field>
        <input-field type="single-select">
            <name>alertProductDetail1Type</name>
            <label>Type of alert (Alert 1)</label>
            <label lang="de-DE">Art des Hinweises (Hinweis 1)</label>
            <options>
                <option>
                    <id>info</id>
                    <name>Information (blue)</name>
                    <name lang="de-DE">Information (Blau)</name>
                </option>
                <option>
                    <id>warning</id>
                    <name>Warning (orange)</name>
                    <name lang="de-DE">Warnmeldung (Orange)</name>
                </option>
                <option>
                    <id>danger</id>
                    <name>Danger (red)</name>
                    <name lang="de-DE">Gefahrenmeldung (Rot)</name>
                </option>
                <option>
                    <id>success</id>
                    <name>Success (green)</name>
                    <name lang="de-DE">Erfolgsmeldung (Grün)</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>alertProductDetail1Position</name>
            <label>Position of alert (Alert 1)</label>
            <label lang="de-DE">Position des Hinweises (Hinweis 1)</label>
            <helpText>The setting "Above the product name" only works if NO individual layout of the product detail page (Shopping Experiences) is used!</helpText>
            <helpText lang="de-DE">Die Einstellung "Über dem Produktnamen" funktioniert nur, wenn KEIN individuelles Layout der Produktdetailseite (Erlebniswelt) verwendet wird!</helpText>
            <options>
                <option>
                    <id>1</id>
                    <name>Above the product name</name>
                    <name lang="de-DE">Über dem Produktnamen</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Above the shopping cart button</name>
                    <name lang="de-DE">Oberhalb des Warenkorb-Buttons</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Below the shopping cart button</name>
                    <name lang="de-DE">Unterhalb des Warenkorb-Buttons</name>
                </option>
            </options>
        </input-field>
    </card>
    <card>
        <title>Product detail page</title>
        <title lang="de-DE">Produktdetailseite</title>
        <input-field type="bool">
            <name>alertProductDetail2Active</name>
            <label>Enable alert 2</label>
            <label lang="de-DE">Hinweis 2 anzeigen</label>
        </input-field>
        <input-field type="single-select">
            <name>alertProductDetail2DisplayMode</name>
            <label>Display mode for alert 2</label>
            <label lang="de-DE">Anzeige-Modus für Hinweis 2</label>
            <helpText>It can be set whether the hint is displayed for all products or whether this must be activated
                individually in the custom field in the product.
            </helpText>
            <helpText lang="de-DE">Es kann eingestellt werden, ob der Hinweis für alle Produkte angezeigt wird oder ob
                dies in dem Custom-Field im Produkt einzeln aktiviert werden muss.
            </helpText>
            <defaultValue>global</defaultValue>
            <options>
                <option>
                    <id>global</id>
                    <name>Global for all products</name>
                    <name lang="de-DE">Global für alle Produkte</name>
                </option>
                <option>
                    <id>product</id>
                    <name>Settable per product</name>
                    <name lang="de-DE">Einstellbar pro Artikel</name>
                </option>
            </options>
        </input-field>
        <input-field>
            <name>alertProductDetail2Message</name>
            <label>Alert text (Alert 2)</label>
            <label lang="de-DE">Hinweistext (Hinweis 2)</label>
        </input-field>
        <input-field type="single-select">
            <name>alertProductDetail2Type</name>
            <label>Type of alert (Alert 2)</label>
            <label lang="de-DE">Art des Hinweises (Hinweis 2)</label>
            <options>
                <option>
                    <id>info</id>
                    <name>Information (blue)</name>
                    <name lang="de-DE">Information (Blau)</name>
                </option>
                <option>
                    <id>warning</id>
                    <name>Warning (orange)</name>
                    <name lang="de-DE">Warnmeldung (Orange)</name>
                </option>
                <option>
                    <id>danger</id>
                    <name>Danger (red)</name>
                    <name lang="de-DE">Gefahrenmeldung (Rot)</name>
                </option>
                <option>
                    <id>success</id>
                    <name>Success (green)</name>
                    <name lang="de-DE">Erfolgsmeldung (Grün)</name>
                </option>
            </options>
        </input-field>
        <input-field type="single-select">
            <name>alertProductDetail2Position</name>
            <label>Position of alert (Alert 2)</label>
            <label lang="de-DE">Position des Hinweises (Hinweis 2)</label>
            <helpText>The setting "Above the product name" only works if NO individual layout of the product detail page (Shopping Experiences) is used!</helpText>
            <helpText lang="de-DE">Die Einstellung "Über dem Produktnamen" funktioniert nur, wenn KEIN individuelles Layout der Produktdetailseite (Erlebniswelt) verwendet wird!</helpText>
            <options>
                <option>
                    <id>1</id>
                    <name>Above the product name</name>
                    <name lang="de-DE">Über dem Produktnamen</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Above the shopping cart button</name>
                    <name lang="de-DE">Oberhalb des Warenkorb-Buttons</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Below the shopping cart button</name>
                    <name lang="de-DE">Unterhalb des Warenkorb-Buttons</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
